@font-face {
  font-family: "Roboto";
  src: url("./component/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import "./component/Navigation/navigation.css";
body {
  font-family: "Roboto" !important;
}
.pb-50 {
  padding-bottom: 50px;

  background-color: transparent;
  /* background-color: var(--background-color); */
}
.App {
  text-align: center;
}
.mg {
  margin-top: 100px;
}
.mg-auto-80 {
  width: 80% !important;
  margin: auto;
}
.mb-15 {
  margin-bottom: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
