.card-container {
  margin-top: 50px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.card-container:hover {
  transform: scale(1.2);
}
.card-container img {
  border-radius: 10px;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
