:root {
  --color-mode-light: #eeeeee;
  --color-mode-dark: #222222;
}
.navContainer {
  background: var(--navigation-color);
  position: fixed;
  z-index: 1000;
}
.ant-badge {
  font-family: inherit;
  font-size: inherit;
}
.light {
  --color-mode: var(--color-mode-light);
  --background-color: white;
  --background-color-outside: white;
  --text-color-hover: orange;
  --text-li-color-hover: #ffffff;
  --text-color: #000000;
  --name-color: orange;
  --background-table-head: #f0f0f0;
  --background-table-body: #f8f8f8;
  --text-color-table: #333333;
  --divider-color: grey;
  --navigation-color: white;
  --footer-color: white;
  --image-active: orange;
  --background-color-chat: white;
  --box-shadow-color: rgba(234, 230, 230, 0.35) 0px 5px 15px;
  --border-color: #ddd;
  --background-pagination: white;
  --color-pagination: #3a3a3a;
  --cs-color: #dddddd;
  height: 100vh;
  width: 100vw !important;
  color: black;
  background-color: var(--background-color) !important;
  overflow: auto;
}

.dark {
  --color-mode: var(--color-mode-dark);
  --background-color: #494949;
  --background-color-outside: #303030;
  --navigation-color: linear-gradient(
    0deg,
    rgba(54, 54, 56, 1) 0%,
    rgba(28, 28, 29, 1) 50%,
    rgba(1, 1, 1, 1) 100%
  );
  --footer-color: linear-gradient(
    180deg,
    rgba(54, 54, 56, 1) 0%,
    rgba(28, 28, 29, 1) 50%,
    rgba(1, 1, 1, 1) 100%
  );
  --text-color-hover: orange;
  --text-li-color-hover: #ffffff;
  --text-color: #ffffff;
  --name-color: orange;
  --background-table-head: #333333;
  --background-table-body: #292929;
  --text-color-table: #ffffff;
  --divider-color: #ffffff;
  --image-active: #ffffff;
  --background-color-chat: grey;
  --box-shadow-color: rgba(234, 230, 230, 0.35) 0px 5px 15px;
  --border-color: #ddd;
  --background-pagination: #3a3a3a;
  --color-pagination: #fff;
  --cs-color: #333333;
  height: 100vh;
  width: 100vw !important;
  color: white;
  background-color: var(--background-color) !important;
  overflow: auto;
}
.dark,
.light {
  overflow: auto;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f4f4f4;
}

.dark::-webkit-scrollbar,
.light::-webkit-scrollbar {
  width: 4px;
  opacity: 0; /* Hide the scrollbar */
  transition: opacity 0.3s; /* Add transition effect for smooth hiding */
}
.dark:hover::-webkit-scrollbar,
.light:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}
.dark::-webkit-scrollbar-track,
.light::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.dark::-webkit-scrollbar-thumb,
.light::-webkit-scrollbar-thumb {
  background-color: #888888;
  /* border-radius: 4px; */
}
.navContainer {
  padding-top: 20px;
  border-bottom: 1px solid var(--text-color);
}
/* .dark,
.light {
  height: 100%;
  width: 100vw;
  background-color: var(--color-mode) !important;
} */

.menu-style {
  width: 100% !important;
}
ul {
  list-style: none;
  background-color: transparent;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a,
.navigation a {
  display: block;
  padding: 0px 10px;
  margin-bottom: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}
.navigation section.listCategory {
  display: block;
  padding: 0px 10px;
  margin-bottom: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}
.profile a {
  text-decoration: none;
  font-size: 16px;
  padding: 0;
}
.navbarList.theme {
  color: var(--text-color);
}
li a:hover {
  color: var(--text-color);
}
a:hover {
  color: var(--text-color-hover);
}
ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown,
ul li ul.dropdownLanguage,
ul li ul.dropdownProfile {
  width: 90%;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 5px;
  color: black;
  margin-left: 0px;
}
.profile {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: block;
  /* margin-top: -50px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -405%;
}
ul li:hover > section {
  color: var(--text-color-hover);
  cursor: pointer;
}

ul li:hover > section + ul.dropdown li:hover {
  background-color: var(--text-color-hover);
  color: var(--text-li-color-hover);
  cursor: pointer;
}

ul.dropdownLanguage li:hover,
ul.dropdownProfile li:hover {
  background-color: var(--text-color-hover);
  color: var(--text-li-color-hover);
}

ul li:hover ul.dropdown,
ul li:hover ul.dropdownLanguage,
ul li:hover ul.dropdownProfile {
  margin-top: 3px;
  /* padding-top: 5px; */
  display: block;
}
ul li ul.dropdown section {
  width: 100%;
  position: absolute;
  left: -70%;
  z-index: 999;
  display: none;
  color: black;
  border: 1px solid var(--border-color);
}
ul li ul.dropdownProfile section.profile {
  width: 100%;
  position: absolute;
  margin-left: -520%;
  z-index: 999;
  display: block;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-top: 0px;
}
ul li:hover ul.dropdown section {
  display: block;
}
ul li ul.dropdownLanguage section,
ul li ul.dropdownProfile section {
  width: 200px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-left: -33px;
  text-align: start;
  cursor: pointer;
}
ul.dropdownLanguage li {
  padding-left: 30px;
  width: 100%;
}
ul.dropdownProfile li {
  padding-left: 30px;
  width: 100%;
}
.profileContainer {
  margin-left: -2% !important;
}
.profileContainer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.dropdownLanguage img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.profile li,
.profile li a {
  color: black;
  height: 40px;
  line-height: 35px;
}
.profile li:hover,
.profile li a:hover {
  color: var(--text-li-color-hover);
}

li.navbarList {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  line-height: 32px;
  margin-bottom: -10px;
}
li.navbarList:last-child {
  margin-right: 0;
}

li.navbarList:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  margin-bottom: 2px;
  background: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
li.navbarList:hover:after {
  width: 100%;
  background: var(--text-color-hover);
}
#checkbox {
  display: none;
}
.menu {
  height: 100%;
}
.menuToggle {
  position: fixed;
  width: 0px;
  color: black;
  right: 0;
  background-color: white;
  top: 65px;
  z-index: 9999;
  transition: width 0.5s ease;
}

.layer-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Update the z-index to a lower value */
}

.content-nav {
  position: relative;
  z-index: 9999;
}
.toggleOpen {
  animation: fadeInRight 0.5s ease forwards;
}
.toggleClose {
  animation: fadeOutRight 1s ease forwards;
}
@keyframes fadeInRight {
  from {
    width: 0px;
  }
  to {
    width: 90%;
  }
}

@keyframes fadeOutRight {
  from {
    width: 90%;
  }
  to {
    width: 0px;
  }
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: orange;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Tornado Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px / 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s) * 0.6;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: opacity, transform;
  transition-delay: calc(0s + 0.35s * 0.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 4px / 2);
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: calc(0s + 0.35s * 0.3);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-225deg);
  transition-delay: calc(0s + 0.35s * 0.6);
}
